pipeline/PL_DETERMINAR_PAR_IMPAR.json
{
	"name": "PL_DETERMINAR_PAR_IMPAR",
	"properties": {
		"activities": [
			{
				"name": "set esPAr",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "esPar",
					"value": {
						"value": "@equals(mod(pipeline().parameters.numeroAnalizar,2),0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Mensaje Validacion",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "set esPAr",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('esPar')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set mensaje par",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "mensaje",
								"value": {
									"value": "@El número  @{pipeline().parameters.numeroAnalizar} es Par",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"numeroAnalizar": {
				"type": "int",
				"defaultValue": 0
			}
		},
		"variables": {
			"esPar": {
				"type": "Boolean"
			},
			"mensaje": {
				"type": "String"
			}
		},
		"annotations": []
	}
}